
<div class="container" id="poll-list">
  <div class="row">
    <div class="col-sm-12">
      <section class="polls-list">
        <% @polls.each do |poll| %>
          <div class="block">
            <div class="block-title">
              <h2><%= link_to poll.title , pollShow_url( poll.id ) %> <%= (poll.end_at > Date.today) ? "<span class='label label-warning pull-right'>En cours</span>".html_safe : "<span class='label label-danger pull-right'>Terminé</span>".html_safe %></h2>
            </div>
            <div class="block-content">
              <p>
                <%= poll.description %>
              </p>
            </div>
            <div class="block-footer">
              <div class="polls-list_link" style="line-height:35px">
                <i class="fa fa-users"></i> <%= poll.nbUsersResponded.size %> utilisateur<%= (poll.nbUsersResponded.size > 0 ) ? "s": "" %> <%= (poll.nbUsersResponded.size > 1 ) ? "ont": "a" %> répondu<%= (poll.nbUsersResponded.size > 1 ) ? "s": "" %></li>
                <% if !current_user %>
                  <%= link_to "Participer au sondage" , pollShow_url( poll.id ), class: "pull-right btn btn-default" %>
                <% else %>
                  <%= link_to "Participer au sondage" , new_session_path(:user), class:'pull-right btn btn-default' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
