<%
meta title: "Meusetech - #{@poll.title}",
     description: @poll.description,
     keywords: ["Meusetech", "sondages",  @poll.title]
%>
<div class="container" id="poll-list" style="margin-bottom:75px;">
  <h1><%= @poll.title %></h1>
  <%= form_for :fields, :url => pollReponse_url do |f| %>
  <input type="hidden" name="fields[poll_id]" value="<%= @poll.id %>">
    <% @poll.fields.each do |question| %>
      <div class="form-group">
        <label for="fields[<%= question.id %>]"><%= question.label %></label>
        <% if question.optionsFormated != nil %>
          <select name="fields[questions][<%= question.id %>]" class="form-control" <%= question.is_required ? "required" : "" %>>
            <% question.optionsFormated.each_with_index do | value, key | %>
              <option value="<%= key %>"> <%= value %></option>
            <% end %>
          </select>
        <% else %>
          <input type="<%= question.input_type %>" name="fields[questions][<%= question.id %>]"
            class="form-control" <%= question.is_required ? "required" : "" %> <%= question.rulesFormated %> />
        <% end %>
      </div>
    <% end %>
    <%= f.submit :valider , class: "btn btn-primary"%>
  <% end %>
</div>
