<div class="container">
  <h1>Polls::Polls#show</h1>
  <p>Find me in app/views/polls/polls/show.html.erb</p>
  <h1><%= @poll.title %></h1>
  <%= form_for :fields, :url => pollReponse_url do |f| %>
    <% @questions.each do |question| %>
      <div class="form-group">
        <label for="fields[<%= question.id %>]"><%= question.label %></label>
        <% if question.options != nil %>
          <select name="fields[<%= question.id %>]" class="form-control" <%= question.is_required ? "required" : "" %>>
            <% @options.each_with_index do | value, key | %>
              <option value="<%= key %>"> <%= value %></option>
            <% end %>
          </select>
        <% else %>
          <input type="<%= question.input_type %>" name="fields[<%= question.id %>]"  class="form-control" <%= question.is_required ? "required" : "" %>/>
        <% end %>
      </div>
    <% end %>
    <%= f.submit :valider , class: "btn btn-primary"%>
  <% end %>
</div>
