<%= tinymce_assets %>
<%= tinymce :language => "fr_FR" %>
<div class="container">
  <div class="article_form">
    <%= form_for :articles, :url => admin_articleUpdate_url, method: "post" do |f| %>
      <div class="form-group">
        <%= label_tag :category_id, 'Categorie' %>
        <%= f.select :category_id, options_from_collection_for_select( @categories, "id", "name", @articles.category.id ), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'title', "Titre de l'article" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'thumb', "Photo" %>
        <%= f.file_field :thumb %>
      </div>
      <div class="form-group">
       <%= label_tag 'removethumb', "Photo par défaut" %>
         <%= f.check_box :remove_thumb %>
     </div>
      <div class="form-group">
        <%= label_tag 'article', "Rédaction de l'article" %>
        <%= f.text_area :content, :class => "tinymce", :rows => 25, :cols => 120 %>
      </div>

      <%= f.submit :valider, class: "btn btn-primary" %>
    <% end %>
    <div class="form-errors">
      <% if @articles.errors.any? %>
      <%= debug @articles.errors.messages %>
        <ul class="Signup_Errors">
          <% @articles.errors.messages.each do | key, value | %>
            <li class="text-danger"> <%= value.last.html_safe %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
