<div class="container-fluid">
  <div class="row">

    <div class="col-md-8">
      <% @articles.each do |article|%>
            <% if @articles.first.id === article.id %>
              <div class="last_article">
                  <div class="article_thumb">
                    <img class="img-responsive img-bordered" src="<%= article.thumb %>" alt=""
                    style="border-bottom-color:<%= article.category.color %>" />
                  </div>
                  <div class="title">
                    <h1>
                      <%= link_to article.title , blogShow_url( article.id ) %>
                      <img class="logo_size" src="<%= article.category.icon %>" alt=""/>
                    </h1>
                  </div>

                  <div class="article_content">
                      <p><%= truncate(article.content, length: 200, separator: ' '){ link_to "Continue", blogShow_url( article.id)} %></p>
                  </div>

                  <div class="">
                    <span class="gras">
                      <%= article.user.username %>
                      -  <%= time_tag(article.created_at) %>
                      - <%= article.category.name %>
                    </span>
                  </div>
                </div>

          <% else %>
            <div class="recent_articles">
              <div class="article_thumb">
                <img class="photo_size img-bordered-right" src="<%= article.thumb %>" alt=""
                style="border-right-color:<%= article.category.color %>" src="<%= article.thumb %>" alt="" />
              </div>
              <div class = "title_recent_articles">
              <h2>
                <%= link_to article.title , blogShow_url( article.id ) %>
                <img class="logo_size" src="<%= article.category.icon %>" alt="" />
              </h2>
                <div class="author">
                  <span class="gras"> <%= article.user.username %>
                  - <%= time_tag(article.created_at) %>
                  </span>
              </div>

              </div>
            </div>
          <% end %>
        <% end %>
    </div>

    <div class="col-md-4">
      <%= cell("blogs/sidebar").(:userBlock) %>
    </div>
  </div>
</div>
