<h1>BlogArticles#index</h1>
<p>Find me in app/views/blog_articles/index.html.erb</p>

<% @articles.each do |article| %>
  <h1>
    <%= link_to article.title , blogShow_url( article.id ) %>
  </h1>
  <p>
    <%= article.content %>
    <div class="">auteur :
      <%= article.user.username %>
      <p>
        catégorie : <%= article.category.name %> <img src="<%= article.category.icon %>" />
      </p>
      <div class="article_thumb">
          <img class="img-responsive" src="<%=article.thumb%>" />
      </div>

    </div>
  </p>
<% end %>
