<%
meta title: "Meusetech - #{@article.title}",
     description: truncate(@article.content.html_safe, length: 200, separator: ' '),
     keywords: ["article", "meusetech", @article.category.name, @article.title]
%>
<%
meta og: {
  image: image_url(@article.thumb),
  title: "Meusetech - #{@article.title}",
  url: blogShow_url(@article.id),
  site_name:"MeuseTech",
  description:truncate(@article.content.html_safe, length: 200, separator: ' '),
}
%>
<div class="container" style="margin-top: 75px; margin-bottom: 75px;">
  <div class="row">
    <div class="col-md-9">

      <div class="article_show">
        <div class="title">
          <h1>
            <%= @article.title %>
            <span class="pull-right">
              <%= image_tag @article.category.icon, class: "logo_size", alt: "logo categorie" %>
            </span>
          </h1>
        </div>
        <div class= "thumb">
          <%= image_tag @article.thumb, class: "img-responsive img-bordered", alt: "article thumbnail" %>
        </div>
        <div class="article_infos" style="margin-bottom:15px; font-size: 1.2em;">
          <i class="fa fa-user" aria-hidden="true"></i> <%= @article.user.username %> - <i class="fa fa-tag" aria-hidden="true"></i> <%= @article.category.name %>
        </div>
        <p>
          <%= @article.content.html_safe %>
        </p>
      </div>

      <div class="article_comment_blok">
        <div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
        <% if user_signed_in? %>
          <a class="btn btn-primary pull-right" id="likeBtn" data-url="<%= likePost_url({model: 'article', id: @article.id}) %>"><span id="compteur"><%=@article.likes_count%></span> Like</a>
        <% else %>
        <a href="/utilisateurs/connection" class="btn btn-primary"><%= @article.likes_count %> Like</a>
        <% end %>
        <h2>Commentaires</h2>
        <% if user_signed_in? %>
          <%= form_for :comment, :url => comment_url do |f| %>
            <input id="notif[model]" name="notif[model]" type="hidden" value="BlogArticle" />
            <input id="notif[receiver]" name="notif[receiver]" type="hidden" value="<%= @article.user_id %>" />
            <input id="notif[key]" name="notif[key]" type="hidden" value="<%= @article.id %>" />
            <input id="comment[blog_article_id]" name="comment[blog_article_id]" type="hidden" value="<%= @article.id %>" />
            <input id="comment[user_id]" name="comment[user_id]" type="hidden" value="<%= current_user.id %>" />
            <%= f.text_area :content, class: "form-control" %>
            <%= f.submit :valider, class:"btn btn-primary", style:"margin-top:15px;" %>
          <% end %>
        <% end %>
        <div class="comments-block" style="margin-top:25px">
          <% @comments.each do | comment | %>
          <div class="media" style="padding-bottom:15px;">
            <div class="media-left">
              <%= image_tag comment.user.avatar, size: "64x64", class: "media-object", alt: "avatar" %>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= comment.user.username %></h4>
                <% if comment.is_valid %>
                  <%= comment.content %>
                <% elsif current_user &&  current_user.is_admin%>
                  <%= comment.content  %>
                <% else %>
                <span class="text-danger"> Commentaire en attente de validation</span>
                <% end %>
                <% if current_user &&  current_user.is_admin %>
                <div class="pull-right">
                  <% if !comment.is_valid %>
                  <%= link_to "<i class='fa fa-check' aria-hidden='true'></i>".html_safe, validComment_url(comment.id), method: 'post', class:"btn btn-warning" %>
                  <% end %>
                  <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, deleteComment_url(comment.id), method: 'post', class:"btn btn-danger" %>
                </div>
                <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= cell("blogs/sidebar").(:articleCategory) %>
      <%= cell("blogs/sidebar").(:mostCommented) %>
      <a class="twitter-timeline" href="https://twitter.com/meusetech" data-widget-id="321360849161814016">Tweets de @meusetech</a>
      <div class="fb-page" data-href="https://www.facebook.com/meusetech/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/meusetech/"><a href="https://www.facebook.com/meusetech/">MeuseTech</a></blockquote></div></div>

    </div>
  </div>
</div>
