<%
meta title: "Meusetech - Projets mis en ligne",
     description: "Bienvenue sur la plateforme participative et collaborative de MeuseTech. L’esprit MeuseTech, c’est quoi ? Il s’agit de rassembler sous ce chapeau l’ensemble des initiatives intelligentes et novatrices du territoire pour dynamiser la vie économique et sociale, ouvrir de nouvelles perspectives. Celles-ci pouvant prendre plusieurs formes",
     keywords: ["Meusetech", "projets", 'programme leader']
%>
<div class="container" style="  margin-top: 75px;">
  <div class="row">
    <div class="col-md-9">
      <div class="projects_depot--">
        <h1>Bienvenue sur la plateforme participative et collaborative de MeuseTech.</h1>
        <div class="projects_depot--infos">
          <p>
            L’esprit MeuseTech, c’est quoi ?
            Il s’agit de rassembler sous ce chapeau l’ensemble des initiatives intelligentes et novatrices du territoire
            pour dynamiser la vie économique et sociale, ouvrir de nouvelles perspectives. Celles-ci pouvant prendre plusieurs formes :
          </p>
          <ul>
            <li>projet innovant : projet exemplaire,inédit sur le territoire, expérimental</li>
            <li>recours aux nouvelles technologies, offre numérique qualitative</li>
            <li>initiative interdisciplinaire, mise en réseau des acteurs, économie du partage, innovation sociale</li>
            <li>prise en compte de l’environnement, actions de développement durable, réduction des dépenses énergétiques</li>
          </ul>
          <p>Vous avez des idées, un projet ? Vous souhaitez recueillir des avis sur son intérêt, développer le concept,
          trouver des associés, rechercher des aides… ?</p>

          <div class="projects_depot--lien">
            Tout le monde peut déposer un projet ! Devenez acteur de votre territoire en quelques clics :
            <%= link_to "JE DEPOSE UN PROJET  <i class='fa fa-arrow-right' aria-hidden='true'></i>".html_safe , projectsCreatePost_url, class: "btn btn-danger pull-right" %>
          </div>
        </div>

        <div class="projects_depot--number">
          <h2>Actuellement <%= @projects.size %> projets sont déposés sur MeuseTech<h2>
        </div>

        <div class="projects_comment">Participez aux projets déposés en donnant votre avis, en vous associant, en apportant un coup de main,
          une information nécessaire à sa réalisation… Commentez, aimez, partagez !
        </div>
      </div>
      <% @projects.each do | project | %>
        <div class="project_list_card">
          <div class="triangle">
            <span class="label-meuhsteak">
              Meuhsteak
            </span>
          </div>
          <div class="project_list_card--title">
            <h2><%= project.name %></h2>
          </div>
          <div class="thumb">
            <%= image_tag(project.thumb, class:"img-responsive img-bordered", alt: "Avatar") %>
          </div>
          <div class="project_list_card--description">
            <p>
              <%= truncate(project.content) %>
            </p>
          </div>
          <div class="project_list_card--infos">
            <div class="project_list_card--infos_created">
              Projet créé il y a : <%= time_ago_in_words project.created_at %> par <%= project.user.username %> à
            </div>
            <div class="project_list_card--infos_link">
              <%= link_to "En savoir plus", projectShow_url(project.friendly_id)  %>
            </div>
          </div>
          <div class="project_reseaux_sociaux">
            <p>
              <img class="logo_fb" src="http://www.freelargeimages.com/wp-content/uploads/2014/11/Facebook_logo-7.png" alt=""/>
              <%= project.nb_fb_shared %>
              <img class="logo_likes" src="https://www.seeklogo.net/wp-content/uploads/2012/04/facebook-like-logo-vector-400x400.png" alt=""/>
              <%= project.likes_count %>
            </p>
          </div>
        </div>
      <% end %>
      <div class="paginate">
        <%= will_paginate @projects, renderer: BootstrapPagination::Rails, :previous_label => "Précédents", :next_label => "Suivants" %>
      </div>
    </div>
    <div class="col-md-3">
      <%= cell("projects/sidebar").(:projectsCategory) %>
      <%= cell("projects/sidebar").(:mostCommentedProjects) %>
      <a class="twitter-timeline" href="https://twitter.com/meusetech" data-widget-id="321360849161814016">Tweets de @meusetech</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div class="fb-page" data-href="https://www.facebook.com/meusetech/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/meusetech/"><a href="https://www.facebook.com/meusetech/">MeuseTech</a></blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
