<%
meta title: "Meusetech - Projets - #{@project.name}",
     description: @project.content,
     keywords: ["Meusetech", "projets", @project.name]
%>
<%
meta og: {
  image: image_url(@project.thumb),
  title: "Meusetech - Projets - #{@project.name}",
  url: projectShow_url(@project.id),
  site_name:"MeuseTech",
  description:truncate(@project.content.html_safe, length: 200, separator: ' '),
}
%>
<div class="container" style="margin-bottom:75px">
  <div class="row">
    <div class="col-md-4">
      <div class="link_projects" style="padding:20px;">
        <%= link_to "<i class='fa fa-arrow-left' aria-hidden='true'></i> Voir tous les projets".html_safe , projectsIndex_url, class:"btn btn-primary btn-block" %>
      </div>

      <div class="project_global_infos">
        <div class="image-logo">
          <img class="image_infos img-responsive img-bordered" src="http://img11.hostingpics.net/pics/779200ordiprojet.jpg" alt="" width="380px"/>
          <div class="rectangle_projet">
            <ul>
              <li class="category_name"><%= @project.category.name%></li>
              <li class="username"> créé par <%= @project.user.username%></li>
              <li class="date_project"> le 27 avril 2016<%#<%=  @project.created_at %></li>
              <li class="localite"> à Verdun </li>
            </ul>
            <div class="trapezoid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="project_show_card">
        <div class="project_show_card--title">
          <h1><%= @project.name %></h1>
        </div>
        <div class="thumb">
          <%= image_tag(@project.thumb, class: "img-responsive img-bordered", alt: "Avatar") %>
        </div>
        <div class="triangle">
        </div>
        <span class="label-meusetech">
          MeuseTech
        </span>
        <div class="project_show_card--description">
          <p>
            <%= @project.content.html_safe%>
          </p>
        </div>
        <div class="project_show_card--infos">
          <div class="project_show_card--infos_created">
            Projet créé il y a : <%= time_ago_in_words @project.created_at %> par <%= @project.user.username%>
          </div>
        </div>
      </div>
      <br>
      <div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
      <div class="pull-right">
        <% if user_signed_in? %>
          <a class="btn btn-primary" id="likeBtn" data-url="<%= likePost_url({model: 'project', id: @project.id}) %>"><span id="compteur"><%= @project.likes_count %></span> Like</a>
          <% if !@follow %>
            <%= link_to "Suivre ce projet", projectFollow_url(@project.id), class: "btn btn-primary", method: "post" %>
          <% else %>
            <%= link_to "Ne plus suivre ce projet", projectFollow_url(@project.id), class: "btn btn-danger", method: "post" %>
          <% end %>
        <% else %>
          <a href="/utilisateurs/connection" class="btn btn-primary"><%= @project.likes_count %> Like</a>
        <% end %>
      </div>

    <h2>Commentaires</h2>
    <% if user_signed_in? %>
      <%= form_for :comment, :url => comment_url do |f| %>
        <input id="notif[model]" name="notif[model]" type="hidden" value="Project" />
        <input id="notif[receiver]" name="notif[receiver]" type="hidden" value="<%= @project.user_id %>" />
        <input id="notif[key]" name="notif[key]" type="hidden" value="<%= @project.id %>" />
        <input id="comment[project_id]" name="comment[project_id]" type="hidden" value="<%= @project.id %>" />
        <input id="comment[user_id]" name="comment[user_id]" type="hidden" value="<%= current_user.id %>" />
        <%= f.text_area :content, class: "form-control" %>
        <%= f.submit :valider, class:"btn btn-primary", style:"margin-top:15px;" %>
      <% end %>
    <% end %>
      <div class="comments-block" style="margin-top:25px">
        <% @comments.each do | comment | %>
        <div class="media" style="padding-bottom:15px;">
          <div class="media-left">
            <%= image_tag comment.user.avatar, size: "64x64", class: "media-object", alt: "avatar" %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= comment.user.username %></h4>
              <% if comment.is_valid %>
                <%= comment.content %>
              <% elsif current_user &&  current_user.is_admin%>
                <%= comment.content  %>
              <% else %>
              <span class="text-danger"> Commentaire en attente de validation</span>
              <% end %>
              <% if current_user &&  current_user.is_admin %>
              <div class="pull-right">
                <% if !comment.is_valid %>
                <%= link_to "<i class='fa fa-check' aria-hidden='true'></i>".html_safe, validComment_url(comment.id), method: 'post', class:"btn btn-warning" %>
                <% end %>
                <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, deleteComment_url(comment.id), method: 'post', class:"btn btn-danger" %>
              </div>
              <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
