<%= link_to "Voir tout les projets" , projectsIndex_url %>
<div class="project_show_card">
  <div class="project_show_card--title">
    <h1><%= @project.name %></h1>
  </div>
  <div class="project_show_card--description">
    <%= image_tag(@project.thumb, alt: "Avatar")%>
    <p>
      <%= @project.content%>
    </p>
  </div>
  <div class="project_show_card--infos">
    <div class="project_show_card--infos_created">
      Projet créé le: <%= time_ago_in_words @project.created_at %> par <%= @project.user.username%>
    </div>
  </div>
</div>
<br>
  <% if user_signed_in? %>
    <a class="btn btn-primary" id="likeBtn" data-url="<%= likePost_url({model: 'project', id: @project.id}) %>"><span id="compteur"><%= @project.likes_count %></span> Like</a>
  <% else %>
    <a href="/utilisateurs/connection" class="btn btn-primary"><%= @project.likes_count %> Like</a>
  <% end %>

<h3>Commentaires</h3>
<% if user_signed_in? %>
  <%= form_for :comment, :url => comment_url do |f| %>
    <input id="notif[model]" name="notif[model]" type="hidden" value="BlogArticle" />
    <input id="notif[receiver]" name="notif[receiver]" type="hidden" value="<%= @project.user_id %>" />
    <input id="notif[key]" name="notif[key]" type="hidden" value="<%= @project.id %>" />
    <input id="comment[project_id]" name="comment[project_id]" type="hidden" value="<%= @project.id %>" />
    <input id="comment[user_id]" name="comment[user_id]" type="hidden" value="<%= current_user.id %>" />
    <%= f.text_area :content %>
    <%= f.submit :valider %>
  <% end %>
<% end %>

<div class="project_comments">
  <% @comments.each do | comment | %>
  <div class="project_comments_card">
    <div class="project_comments_card--user">
      <%= comment.user.username %>
    </div>
    <div class="project_comments_card--message">
      <%= comment.content %>
    </div>
    <% if current_user %>
      <% if current_user.is_admin && !comment.is_valid %>
      <%= link_to "valider", validComment_url( comment ) %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
