<div id="fb-root"></div>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div id="footer-about">
          <div class="footer-about_logo">
            <%= image_tag "logo.png", size: "100x100", id:"footer-logo"%>
          </div>
          <div class="footer-about_infos">
            <h4>Pays de Verdun</h4>
            <ul>
              <li><i class="fa fa-map-signs" aria-hidden="true"></i> ZA les Marronniers</li>
              <li><i class="fa fa-location-arrow" aria-hidden="true"></i> 55100 Charny Sur Meuse</li>
              <li><i class="fa fa-phone"  aria-hidden="true"></i> 03 29 83 44 01</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div id="footer-newsletter">
          <h4>Inscrivez-vous à la Newsletter</h4>
          <div class="footer-newsletter_encart">
            <input type="email" name="email" id="email" placeholder="Mon email"/>
            <input type="submit" id="envoyer" value="Envoyer"/>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div id="footer-reseaux_sociaux">
          <h4>Suivez-nous sur les réseaux sociaux</h4>
          <div class="footer-reseaux_sociaux_liens">
            <a href="https://www.facebook.com/meusetech/">Actualités Facebook Meuse Tech</a>
            <br><a class="twitter-timeline" href="https://twitter.com/meusetech" data-widget-id="321360849161814016">Actualités Twitter de Meuse Tech</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="footer-partenaires">
      <div class="footer-partenaires_title">
        <h4>Nos partenaires</h4>
      </div>
      <div class="footer-partenaires_logos">
        <%= image_tag "logos/logo_pays.png", size: "150x80" ,  class:"partenaire" %>
        <%= image_tag "logos/logo_webogreen_couleur.png", size: "250x50" ,  class:"partenaire" %>
        <%= image_tag "logos/logo_leader.jpg", size: "100x100" ,  class:"partenaire" %>
        <%= image_tag "logos/logo_UE_FEADER.jpg", size: "140x100" ,  class:"partenaire" %>
      </div>
    </div>

  <div id="footer-mentions_legales">
    <a href=""> Mentions Légales </a> -
    <a href=""> Liens Partenaires </a>
  </div>
</footer>
