<h1>Mes informations personnelles</h1>
<div class="block">
  <div class="block-content" style="line-height:35px">
    <div class="row">
      <div class="col-xs-1" style="max-width:35px;">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
      <div class="col-xs-11" style="padding-left:0;">
        depuis le: <%= time_tag(current_user.created_at) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1" style="max-width:35px;">
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <div class="col-xs-11" style="padding-left:0;">
        <%= current_user.address %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1" style="max-width:35px;">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="col-xs-11" style="padding-left:0;">
        <%= current_user.cp %> - <%= current_user.city %>
      </div>
    </div>
  </div>
</div>
<%= cell("users/sidebar").(:myNotifs, current_user) %>
