
<div class="row">
  <div class="col-md-12">
    <h1>Editer mes informations</h1>
    <section id="user-infos_fields" class="form-horizontal " style="margin-top: 50px;">
      <%= form_for :user, :url => userUpdate_url do |f| %>
        <div class="form-group">
          <%= f.label :username, "Nom d'utilisateur: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-10">
            <%= f.text_field :username, disabled: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-10">
            <%= f.text_field :email, disabled: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :firstname, "Prénom: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-10">
            <%= f.text_field :firstname, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :lastname, "Nom: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-10">
            <%= f.text_field :lastname, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :address, "Adresse: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-10">
            <%= f.text_field :address, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :city, "Ville: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-10">
            <%= f.text_field :city, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cp, "Code postal: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-10">
            <%= f.number_field :cp, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :avatar, "Avatar: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-10">
            <%= f.file_field :avatar %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit :valider , class: "btn btn-primary  col-sm-10 col-sm-offset-2"%>
        </div>

      <% end %>
    </section>
  </div>
</div>
