<!DOCTYPE html>
<html>
<head>
  <title>Meusetech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= stylesheet_link_tag  "#{params[:controller]}/#{params[:action]}"  %>

  <%= render "partials/menu" %>
  
  <%= render "partials/alert" %>

  <%= yield %>

</body>
</html>
