<!DOCTYPE html>
<html>
<head>
  <title>Meusetech</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #F2F5F7;">
  <%= stylesheet_link_tag  "#{params[:controller]}/#{params[:action]}"  %>
  <% if params[:controller] === "pages" && params[:action] === "home" %>
    <%= image_tag "header.jpg", width: "100%", class: "img-responsive" %>
  <% elsif params[:controller] === "polls/polls" %>
    <%= render "partials/sondagesHeader" %>
  <% elsif params[:controller] === "blogs/articles" %>
    <%= image_tag "header.jpg", width: "100%", class: "img-responsive" %>
  <% end %>
  <%= render "partials/menu" %>

  <%= render "partials/alert" %>

  <%= yield %>

</body>
</html>
