<!DOCTYPE html>
<html>
<head>
  <title>Meusetech</title>
  <%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #F2F5F7;">
  <%= stylesheet_link_tag  "#{params[:controller]}/#{params[:action]}"  %>
  <%= render "partials/menu" %>
  <%= render "partials/alert" %>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <%= render "users/account/sidebar" %>
      </aside>
      <section class="col-md-8">
        <%= yield %>
      </section>
    </div>
  </div>
</body>
</html>
